@use '../../assets/scss/vars/colors';
@use '../../assets/scss/mixins/media';

.SignUpBlock {
  padding: 174px 0px 180px;
  background-color: #f8f8f8;
}

.title {
  margin: 0px auto 20px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  line-height: 39.2px;
}

.subtitle {
  margin: 0px auto;
  color: colors.$input-filled-text;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
}

.footprints {
  position: absolute;

  bottom: 340px;
  height: 100px;
  right: -248px;
  width: 575px;
}

@media (min-width: 360px) {
  .title {
    font-size: 28px;
    line-height: 39.2px;
  }
}

@media (min-width: 576px) {
  .title {
    font-size: 38px;
    line-height: 39.9px;
    text-align: center;
  }

  .subtitle {
    font-size: 28px;
    line-height: 39.2px;
    padding: 0 100px ;
    padding-bottom: 16px;
  }
  .footprints {
    bottom: 345px;
    right: -401px;
    width: 816px;
    height: 140px;
  }


}


@media (min-width: 768px) {
  .footprints {
    bottom: 410px;
    right: -340px;
    width: 816px;
    z-index: 0;
    height: 170px;
  }
}

@media (max-width: 992px) {
  .SignUpBlock {
    padding: 0px 0px 80px;
  }

}

@media (min-width: 992px) {
  .title {
    font-size: 60px;
    line-height: 63px;
    margin-top: -5px;
    padding-bottom: 5px;

  }
  .subtitle {
    padding: 0 80px ;
    padding-bottom: 12px;
  }
  .footprints {
    bottom: 410px;
    right: -351px;
    width: 816px;
    z-index: 1;
  }
}

@media  (min-width: 2450px) {
  .footprints {
    right: 356px;
    width: 816px;
  }

}
