@use '../../assets/scss/vars/colors';
@use '../../assets/scss/mixins/media';

.UserInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container {
  padding-right: 30px;
}

.name {
  max-width: 110px;
  margin: -6px 0px 1px;

  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loadingName {
  width: 56px;
  height: 10px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: colors.$loader;
}

.email {
  max-width: 110px;
  margin: 0px;

  color: colors.$text-disabled;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loadingEmail {
  width: 110px;
  height: 8px;
  border-radius: 2px;
  background-color: colors.$loader;
}

.avatar {
  width: auto;
  height: 40px;
  margin: 0 auto;
  display: block;
}

.avatarWrapper {
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 12px;
  border-radius: 50%;
  overflow: hidden;
  background-color: colors.$loader;
}

.loadingAvatar {
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 12px;
  border-radius: 50%;
  background-color: colors.$loader;
}

.logOutButton {
  margin-top: 2px;
  margin-right: 1px;
}

.logOutIcon {

}

@include media.for-desktop-up {
  .avatarWrapper {
    margin: 0px 14px 0px 12px;
  }

  .loadingAvatar {
    margin: 0px 14px 0px 12px;
  }

  .logOutButton {
    margin-top: 4px;
    margin-right: 0px;
    position: relative;
    left: 1px;
  }
}

.onSideBar {
  &.UserInfo {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .avatarWrapper {
    width: 67px;
    height: 67px;
    margin: 0px;
    order: -1;
  }

  .avatar {
    height: 67px;
  }

  .loadingAvatar {
    width: 67px;
    height: 67px;
    margin: 0px;
    order: -1;
  }

  .name {
    max-width: initial;
    margin: 16px 0px 8px;
    font-size: 20px;
    text-align: left;
  }

  .loadingName {
    height: 13px;
    margin: 21px 0px 13px;
  }

  .email {
    max-width: initial;
    margin: 0px 0px 25px;
    font-size: 13px;
    text-align: left;
    word-break: break-all;
  }

  .loadingEmail {
    margin: 0px 0px 27px;
  }

  .logOutButton {
    display: none;
  }
}
