@use '../../assets/scss/vars/colors';
@use '../../assets/scss/mixins/media';

.Users {
  padding: 0px 0px 50px;
  background-color: #F8F8F8;
}

.heading {
  margin: 0px auto 16px;
  font-size: 60px;
  line-height: 63px;
  text-align: center;
}

.subheading {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  font-size: 28px;
  line-height: 39.2px;
  padding-top: 10px;
}

.container {
  margin-top: -3px;
  margin-right: -24px;
  margin-bottom: 54px;
  left: -2px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container.isLoading {
  margin-top: -7px;
  margin-bottom: 59px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@include media.for-desktop-up {
  .Users {
    padding: 131px 0px 140px;
  }

  .heading {
    margin: 0px auto 17px;
  }

  .container {
    margin-top: 1px;
    margin-right: -38px;
    left: 0px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 990px) {
  .Users {
    padding: 0px 0px 20px;
  }

  .subheading {
    letter-spacing: 0px;
    font-size: 28px;
    line-height: 39.2px;
    padding-bottom: 20px;
    padding-top: 0px;
  }

  .heading {
    font-size: 38px;
    line-height: 39.9px;
  }
  .container {
    margin-top: 5px;
    margin-right: -21px;
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 766px) {
  .container {
    justify-content: center;
  }
}

@include media.for-phone-only {
  .Users {
    padding: 13px 0px 10px;
  }

  .heading {
    margin: 0px auto 10px;
    font-size: 28px;
    line-height: 39.2px;
  }

  .subheading {
    padding-bottom: 36px;
    font-size: 18px;
    line-height: 25.2px;
  }

  .container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}


@media screen and (min-width: 1350px) {
  .Users {
    padding: 50px 0px 10px;
  }
}
