@use '../../assets/scss/vars/colors';
@use '../../assets/scss/mixins/media';

.Users {
  padding: 52px 0px 50px;
  background-color: #F8F8F8;
}

.heading {
  margin: 0px auto 16px;
  font-size: 60px;
  line-height: 63px;
  text-align: center;
}

.subheading {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  font-size: 28px;
  line-height: 39.2px;
  padding-top: 10px;
}

.container {
  margin-bottom: 54px;
  position: relative;
  display: flex;
  //justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container.isLoading {
  margin-top: -7px;
  margin-bottom: 59px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
margin-bottom:132px;
}

.preloader {
  margin-bottom:134px;
}
.footprints {
  position: absolute;
  bottom: 410px;
  right: -351px;
  width: 816px;
  z-index: 1;
}

@include media.for-desktop-up {
  .Users {
    padding: 131px 0px 140px;
  }

  .heading {
    margin: 0px auto 17px;
  }

  .container {
    margin-top: 1px;
    margin-right: -38px;
    left: 0px;
    justify-content: flex-start;
  }
 .button {
  margin-bottom: 125px;
 }
  .preloader {
    margin-bottom:125px;
  }
}

@media screen and (max-width: 990px) {
  .Users {
    padding: 0px 0px 20px;
  }

  .subheading {
    letter-spacing: 0px;
    font-size: 28px;
    line-height: 39.2px;
    padding-bottom: 20px;
    padding-top: 0px;
  }

  .heading {
    font-size: 38px;
    line-height: 39.9px;
  }
  .container {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 68px;
  }
  .button{
    margin-bottom: 118px;
  }
  .preloader {
    margin-bottom:118px;
  }
  .footprints {
    bottom: 410px;
    right: -310px;
    width: 816px;
    z-index: 0;
    height: 150px;
  }
}

@media screen and (max-width: 766px) {
  .container {
    justify-content: center;
  }
  .footprints {
    bottom: 345px;
    right: -351px;
    width: 816px;
  }
}

@media screen and (max-width: 576px) {

  .button{
    margin-bottom: 40px;
  }
  .preloader {
    margin-bottom:40px;
  }
  .footprints {
    position: absolute;

    bottom: 340px;
height: 100px;
    right: -248px;
    width: 575px;
  }
}
@include media.for-phone-only {
  .Users {
    padding: 13px 0px 50px;
  }

  .heading {
    margin: 0px auto 10px;
    font-size: 28px;
    line-height: 39.2px;
  }

  .subheading {
    padding-bottom: 31px;
    font-size: 18px;
    line-height: 25.2px;
    padding-top: 5px;
  }

  .container {
    margin-top: 0px;
    margin-bottom: 26px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0;
  }
  .button{
    margin-bottom: 48px;
  }
  .preloader {
    margin-bottom:48px;
  }

}


@media screen and (min-width: 1350px) {
  .Users {
    padding: 50px 0px 10px;
  }
  .container {
    margin-bottom: 64px;
  }

  .heading {
    padding: 0 80px;
    padding-left: 60px;
  }
  .nonUser {
    padding-left: 120px;
  }
  .User2500 {
    padding-left: 30px;
  }
  .subheading {
    margin-right: 20px;
  }
  .button{
    margin-bottom: 135px;
    margin-left:28px;
  }
  .preloader {
    margin-bottom:135px;
  }
}
@media (min-width: 2450px) {
  .Users {
    padding-bottom: 50px;
  }
  .heading {
   padding-left: 120px;
  }
  .subheading {
    padding-left: 60px;
    padding-top: 0;
  }
  .footprints {
    right: 356px;
    width: 816px;
  }

}
