@use '../../../assets/scss/mixins/media';

.modalWrapper {
  max-width: 320px;
  width: 100%;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-sizing: border-box;
}

.modal {
  width: 100%;
  padding: 19px 24px 21px 23px;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.heading {
  margin: 0px;
  letter-spacing: -0.2px;
}

.text {
  max-width: 216px;
  margin: 9px 2px 37px;
}

.button {
  min-width: initial;
  width: 100%;
  font-size: 20px;
}

.buttonText.buttonText {
  text-align: right;
}
