@import "../../constans/styles/variables";

.container {
  border: 1px solid $STORYBOOK-BORDER;
  box-sizing: border-box;
  height: 140px;
  padding: 10px;
  width: 100%;
  max-width: 1140px;
  margin: 20px auto !important;
}

.color {
  align-items: center;
  border: 1px solid $STORYBOOK-BORDER;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.primary {
  background: $COLOR-PRIMARY;
}

.secondary {
  background: $COLOR-SECONDARY;
}
.tertiary {
  background: $COLOR-TERTIARY;
}

.background {
  background: $COLOR-BACKGROUND;
}

.gray {
  background: $COLOR-GRAY;
}

.black87 {
  background: $COLOR-BLACK87;
}

.true {
  background: $COLOR-TRUE;
}

.light_gray {
  background: $COLOR-LIGHT_GRAY;
}

.hover {
  background: $COLOR-HOVER;
}

.hover_blue {
  background: $COLOR-HOVER_BLUE;
}

.links {
  background: $COLOR-LINKS;
}
