@use '../../../assets/scss/mixins/media';

.inputsContainer {
  margin: -25px 0px 0px;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.inputWrapper {
  margin: 57px 0px 0px;
}

.bottomInputWrapper {
  margin: 57px 0px 0px;
}

.fileInputWrapper {

}

.button {
  margin: 30px auto 0px;
}

.buttonContainerForm {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

@media (min-width: 576px) {
  .buttonContainerForm {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .buttonContainerForm {
    padding-top: 60px;
    padding-bottom: 0px;
  }
}
