@import '../../../assets/scss/vars/constans';

.pawsContainer {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.footprints {
  position: absolute;
  z-index: -1;
  bottom: -6px;

  right: -248px;
  width: 575px;

}

.formTitle {

  font-family: Nunito, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;

  margin-top: 5px;

  color: rgba(0, 0, 0, 0.87);

}

.formSubtitle {

  font-family: Asap, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;

  margin-top: 18px;
  margin-bottom: 34px;

  color: rgba(0, 0, 0, 0.87);

}


.userCardBorder {
  margin: 8px;
  border: 1px solid #F4E041;
  height: 324px;

  border-radius: 10px;


}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.image {
  border-radius: 50%;
}

.nameContainer {
  width: 222px;

  margin: 15px auto 0;
  text-align: center;


}

.position {
  width: 222px;
  display: block;
  margin: 0 auto;
  text-align: center;

  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #7E7E7E;
}

.mail {
  width: 222px;
  display: block;
  margin: 0 auto;
  text-align: center;

  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #7E7E7E;

}

.phone {
  width: 222px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #7E7E7E;


  font-family: Asap, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;


}


.cardTitle {
  font-family: Asap, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;

}

.buttonContainer {
  text-align: center;
  margin-top: 33px;
  padding-bottom: 20px;
}

.buttonContainerError {
  margin-top: 33px;
  text-align: center;
}


.form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.formContainer {
  margin: 35px auto 0;
  max-width: 380px;

}

.slideDownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  margin-bottom: 3px;

}


.inputContainer {
  position: relative;
  margin-bottom: 57px;
  width: 100%;

}

.inputContainer:nth-of-type(4){
  margin-bottom: 35px;
}


.inputCharactersCount {
  position: absolute;
  top: 60px;
  right: 17px;
  z-index: 1;

  color: rgba(0, 0, 0, 0.87);
  font-family: Asap, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;

}


.image {
  width: 70px;
  height: 70px;
}


.form__labelUpload,
.form__labelUpload--error {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  position: relative;
  cursor: pointer;

  width: 100%;
  height: 54px;
  border-radius: 4px;
  display: flex;

}


.form__labelUpload:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border: 1px solid #b2b9c0;
  border-radius: 4px;
  display: block;
}

.form__labelUpload--error:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border: 1px solid #CB3D40;
  border-radius: 4px;
  display: block;
}


.form__labelUpload--error .form__uploadButtonWrapper:after {
  border: 0;
  border-right: 1px solid #CB3D40;
}

.form__labelUpload--error:focus-within:after {
  border: 2px solid #CB3D40;
}

.form__labelUpload--error:focus-within .form__uploadButtonWrapper:after {
  border-right: 2px solid #CB3D40;
}

//.form__labelUpload:focus-within {
//  border: 2px solid #00BDD3;
//}


.form__labelUpload:hover:after {
  border: 1px solid rgba(0, 0, 0, 0.87);
}


.form__labelUpload.disabled {
  border: 1px solid #D0CFCF;
  cursor: default;
}

.form__labelUpload--error::placeholder,
.form__labelUpload::placeholder {
  color: #b2b9c0
}

.form__labelUpload--error:active,
.form__labelUpload--error:focus,
.form__labelUpload:active,
.form__labelUpload:focus {
  outline: none
}

.form__uploadWrapper {
  margin-bottom: 7px;
}

.form__upload {
  position: absolute;
  z-index: -1;
  opacity: 0
}


.form__uploadPlaceholder {
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 14px;
  padding-top: 14px;
  color: #7E7E7E;
  width: 85%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap
}

.form__uploadPlaceholder.filled {
  color: rgba(0, 0, 0, 0.87);
}

.form__uploadPlaceholder.disabled {
  color: #D0CFCF;
}

.form__uploadButtonWrapper {
  //border: 1px solid rgba(0, 0, 0, 0.87);
  //border-radius: 4px 0 0 4px;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  height: calc(100%);
  padding-left: 15px;
  padding-right: 15px;

}

.form__uploadButtonWrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0 0 4px;
  display: block;
}


.form__uploadButtonWrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(0, 0, 0, 0.87);

}

.form__uploadButtonWrapper.disabled {
  border: 1px solid #D0CFCF;
}

.form__uploadButtonWrapper.disabled span {
  color: #D0CFCF;
}


.helper-text {
  font-family: Asap, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 7px;
  padding-left: 16px;

  color: rgba(0, 0, 0, 0.87);
}

.helper-text--error {
  font-family: Asap, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #CB3D40;
  margin-top: 7px;
  padding-left: 16px;
}

.form__text.disabled {
  color: #D0CFCF;
}


.successContainer {

  max-width: 478px;
  margin: 37px auto 0;
}

.successText {
  max-width: 340px;
  margin: 27px auto 0;
  text-align: center;

  font-family: Asap, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;

  color: rgba(0, 0, 0, 0.87);

}


.overlayContainer {
  position: relative;

}

.overlay {
  position: absolute;
  z-index: 2;
  top: 45px;
  left: -5px;
  right: -5px;
  bottom: -10px;

  background: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
}

.overlaySubtitle {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;

  color: rgba(0, 0, 0, 0.87);
}

.innerOverlayContainer {
  margin-top: 55px;
}

@media (min-width: 576px) {
  .innerOverlayContainer {
    margin-top: -90px;
  }

  .slideDownContainer {
    padding-top: 36px;
    margin-bottom: 26px;
  }

  .formTitle {
    font-family: Nunito, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;

    color: rgba(0, 0, 0, 0.87);
  }

  .formSubtitle {
    color: rgba(0, 0, 0, 0.87);

    max-width: 500px;
    margin: 19px auto 0;

    font-family: Nunito, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
  }

  .formContainer {
    margin: 44px auto 0;
  }

  .buttonContainer {
    margin-top: 50px;
    padding-bottom: 62px;
  }

  .buttonContainerError {
    margin-top: 50px;
  }

  .pawsContainer {
    padding-bottom: 140px;
  }

  .successContainer {
    margin: 40px auto 0;
    max-width: 521px;
  }

  .successText {
    max-width: 340px;
    margin: 48px auto 0;
  }

  .overlaySubtitle {
    font-size: 28px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .overlay {

    display: flex;
    justify-content: center;
    align-items: center;


    top: 30px;
    bottom: -30px;
  }
}

@media (min-width: 992px) {


  .innerOverlayContainer {
    margin-top: -10px;
  }
  .buttonContainerError {
    margin-top: 47px;
  }
  .overlay {

    display: flex;
    justify-content: center;
    align-items: center;

    top: 30px;
    bottom: -30px;

  }

  .overlaySubtitle {
    font-size: 28px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .successContainer {
    max-width: 480px;
    margin: 0 auto ;
    padding-top: 40px;
  }

  .successText {
    max-width: 340px;
    margin: 0 auto;
    padding-top: 45px;
    padding-right: 5px;
  }

  .pawsContainer {
    padding-bottom: 180px;
  }

  .footprints {
    right: -351px;
    width: 816px;
  }

  .webdevLogoContainer {
    margin: 0 auto;
  }


  .formContainer {
    margin: 45px auto 0;
  }

  .slideDownContainer {
    display: none;
  }


  .formTitle {
    margin: 171px auto 0;

    font-family: Nunito, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0;
    text-align: center;

    color: rgba(0, 0, 0, 0.87);
  }


  .formSubtitle {
    max-width: none;
    color: rgba(0, 0, 0, 0.87);

    font-family: Nunito, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;

    margin-top: 24px;
    margin-bottom: 0;
  }

  .buttonContainer {
    margin-top: 52px;
    padding-bottom: 0;
    padding-right: 5px;
  }



}


@media (min-width: 2560px) {
  .formTitle {
    margin: 135px auto 0;
  }

  .footprints {
    right: 356px;
    width: 816px;
  }

  .nameContainer {
    width: 312px;
  }

}

