.slide-down {
  font-family: Asap;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(126, 126, 126, 1);

}

.slide-down-icon {
  margin-top: 5px;
  position: relative;
  left:20px;
}
