@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap");

//MEDIA-queries breakpoint
$BREAKPOINT-SMALL: 767px;
$BREAKPOINT-MIDDLE: 1023px;
$BREAKPOINT-LARGE: 1280px;

//FONT FAMILY
$FONT-MAIN: "Nunito", sans-serif !important;
$FONT-SECONDARY: "Asap", sans-serif !important;

//COLORS
$COLOR-PRIMARY:#f4e041;
$COLOR-SECONDARY:#00bdd3;
$COLOR-TERTIARY: #ea5924;
$COLOR-BACKGROUND: #f8f8f8;
$COLOR-GRAY: #7e7e7e;
$COLOR-BLACK87: rgba(0, 0, 0, 0.87);
$COLOR-TRUE: #31794e;
$COLOR-LIGHT_GRAY: #d0cfcf;
$COLOR-HOVER: #ffe302;
$COLOR-HOVER_BLUE: #02ddf7;
$COLOR-LINKS: #0052b4;

$ERROR: #CB3D40;

$TEXT-COLOR--PRIMARY: $COLOR-BLACK87;
$TEXT-COLOR--SECONDARY: $COLOR-GRAY;
$TEXT-COLOR--DISABLED: rgba(255, 255, 255, 1);

$STORYBOOK-BORDER: #d0d0d0;

$LINK-COLOR-PRIMARY: #000;
$LINK-COLOR-PRIMARY--HOVER: #ef6c00;
$LINK-COLOR-SECONDARY: #fff;
$LINK-COLOR-SECONDARY--HOVER: #ef6c00;
$LINK-TEXT-COLOR: #ef6c00;
$LINK-TEXT-COLOR--HOVER: #fc831f;

//TOOLTIP
$TOOLTIP-BACKGROUND: #707070;
$TOOLTIP-TEXT: #fefefe;

//BUTTON
$BUTTON-DISABLED-BACKGROUND: #b4b4b4;

//INPUT
$INPUT-ENABLED-BORDER: #D0CFCF;
$INPUT-LABEL-COLOR: $COLOR-GRAY;
$INPUT-TEXT-COLOR: $COLOR-BLACK87;
