.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;

  &.error {
    top: 90px;
  }

}

.buttonContainer {
  margin-left: 20px;

  flex-shrink: 0;
}

.connectionError {
  display: none;
  align-items: center;
  justify-content: center;

  height: 90px;
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #EA5924;

  &.active {
    display: flex;
  }

}


.connectionErrorContainer,
.cookiePolicyContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 21px;

  font-family: Asap, sans-serif;

  font-style: normal;
  font-weight: 400;

  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.cookiePolicy {
  display: none;
  align-items: center;
  justify-content: center;

  height: 90px;
  opacity: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);

  &.active {
    display: flex;
  }

}

.cookieLink {
  color: #287ee7;
  text-decoration: none;
  font-family: Asap, sans-serif;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.buttonCookieContainer {
  margin-left: 20px;

  flex-shrink: 0;
}

.errorContainer {

}

//@media (min-width: 600px) {
//  .buttonContainer {
//    margin-left: 58px;
//  }
//}

.errorContainer {
  margin: 0 auto;
  max-width: 1024px;
  padding-right: 16px;
  padding-left: 16px;

}

@media (min-width: 576px) {
  .errorContainer {
    padding-right: 32px;
    padding-left: 32px;
  }
}



@media (min-width: 768px) {

  .errorContainer {
    width: 100%;
    max-width: 768px;
  }

  .connectionError {
    justify-content: space-between;
  }

  .connectionErrorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    line-height: 21px;

    font-family: Asap, sans-serif;

    font-style: normal;
    font-weight: 400;

    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  .buttonContainer {
    margin-left: 40px;
  }

  .connectionError {
    height: 60px;
  }
  .connectionErrorContainer {
    line-height: 26px;
    font-size: 16px;
  }

  .header.error {
    top: 60px;
  }

  .cookiePolicy {
    height: 64px;
  }

  .cookiePolicyContainer {
    line-height: 22px;
    font-size: 16px;
  }

  .buttonCookieContainer {
    margin-left: 142px;
  }

}

@media (min-width: 992px) {

  .errorContainer {
    width: auto;
    max-width: 840px;
  }

  .connectionError {
    justify-content: center;
  }

  .buttonCookieContainer {
    margin-left: 93px;
  }

  .cookiePolicy {
    height: 64px;
  }

  .cookiePolicyContainer {
    line-height: 22px;
    font-size: 16px;
    margin: 0 133px;
  }


  .connectionError {
    height: 60px;
  }
  .connectionErrorContainer {
    line-height: 26px;
    font-size: 16px;
  }

  .header.error {
    top: 60px;
  }

  .errorContainer {
    padding-right: 60px;
    padding-left: 60px;
  }

  .buttonContainer {
    margin-left: 58px;
  }
}


@media (min-width: 2560px) {
  .errorContainer {
    max-width: 1140px;
    padding: 0;
  }
}


