
.contentContainer {
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;


  .bg {
    background-color: #f8f8f8;
  }

  display: flex;
  align-items: center;

  margin-top: 67px;
  padding-bottom: 64px;

  p {
    margin: 20px 0 25px 0;
  }


  ul {
    padding-left: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 10px;
    display: list-item;

  ;
    li {
      margin-top:20px;
      list-style-type: disc
    }

  }



}

.footprints {
  position: absolute;

  bottom: 345px;

  right: -248px;
  width: 575px;
}


.title {
  font-size: 28px;
  line-height: 39px;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  color:rgba(0, 0, 0, 0.87);
  margin-bottom: 10px;

}

.subtitle {

  line-height: 25px;
  font-size: 18px;
  margin-top: 9px;
  margin-bottom: 30px;




  font-family: Asap, sans-serif;
  font-weight: 400;
  color:rgba(0, 0, 0, 0.87);

}

.subtitleInText {
  margin-top: 90px;
  color:rgba(0, 0, 0, 0.87);
  font-family: Asap,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0;
  text-align: left;

}

.text {
  font-family: Asap, sans-serif;

  font-weight: 400;

  color:rgba(0, 0, 0, 0.87);



  font-size: 16px;
  line-height: 26px;


}

.link {
  -webkit-tap-highlight-color: transparent;

  text-decoration: none;
  color:#0052B4;

  &:hover {
    text-decoration: underline;
  }
}


@media (min-width: 576px) {
  .title {
    font-size: 38px;
    line-height: 40px;
  }

    .footprints {
      bottom: 345px;
      right: -551px;
      width: 816px;
    }


    .text {
    font-size: 18px;
    line-height: 25px;
  }

  .contentContainer {
    padding-top: 16px;
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 25px;

    p {
      margin: 20px 0 25px 0;
    }
    ul {
      padding-left: 19px;
      margin-top: 23px;
      margin-bottom: 25px;
      li {
        margin-top:24px;
        &::marker {
          color: #7E7E7E;
          font-size: 20px;
        }
      }
    }
  }

  .subtitle {
    font-family: Nunito, sans-serif;
    margin-top: 20px;
    margin-bottom: 32px;
    line-height: 39px;
    font-size: 28px;
  }

  .subtitleInText {
    margin-top: 66px;
    font-family: Nunito, sans-serif;
    font-size: 28px;
    line-height: 39px;
  }
}

@media (min-width: 768px) {
  .footprints {
    bottom: 420px;
    right: -520px;
    width: 816px;
    z-index: 0;
  }
}
@media (min-width: 992px) {

  .footprints {
    bottom: 410px;
    right: -351px;
    width: 816px;
    z-index: 1;
  }
  .title {
    font-size: 60px;
    line-height: 63px;
    margin-bottom: 18px;
  }

  .text {
    font-size: 18px;
    line-height: 25px;
  }

  .contentContainer {
    padding-top: 16px;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 145px;
    margin-bottom: 0;

    p {
      margin: 20px 0 25px 0;
    }

    ul {
      padding-left: 19px;
      margin-top: 23px;
      margin-bottom: 25px;
      li {
        margin-top:24px;
      }
    }
  }

  .subtitle {
    font-family: Nunito, sans-serif;
    margin-top: 14px;
    margin-bottom: 30px;
    line-height: 39px;
    font-size: 28px;

  }

  .subtitleInText {
    margin-top: 65px;
    font-family: Nunito, sans-serif;
    font-size: 28px;
    line-height: 39px;
  }
}

@media  (min-width: 2450px) {
  .footprints {
    right: 356px;
    width: 816px;
  }

}
