@use '../../../assets/scss/vars/colors';
@use '../../../assets/scss/mixins/media';

.InfoStrip {
  width: 100%;
  padding: 10px 0px;
  background-color: colors.$secondary-lighter;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.text.text {
  max-width: 315px;
  margin: 0px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  color: colors.$background;
  text-align: center;
}

.button {
  max-width: 200px;
  min-width: 200px;
}

@media screen and (max-width: 750px) {
  .InfoStrip {
    height: 95px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text.text {
    position: static;
    top: 0;
    left: 0;
    transform: initial;
  }

  .button {
    margin-top: 15px;
  }
}
