@import '../../../src/assets/scss/vars/constans.scss';

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding-right: 16px;
  padding-left: 16px;
}

.bannerColor {
  background-color: rgba(237, 236, 234, 1);
}

.bannerTitle {
  margin-block-start:0;
  text-align: right;
  width: 320px;
margin-bottom: 0;
  font-family: $FONT-SECONDARY;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.2px;
  letter-spacing: 0em;
}


.bannerContentContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 372px;

  margin-top: 60px;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 18px;
}

.bannerTextForDesktop {
  display: none;
}

.bannerTextForTablet {
  display: none;
}

.bannerTextForDesktop, .bannerTextForMobile {
  padding-top: 22px;


  font-family: $FONT-MAIN;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
margin-bottom: 0;
}

.bannerTextForMobile {
  text-align: right;
  width: 240px;
  //width: 341px;
  padding-top: 10px;
}

.buttonContainer {
  padding-top: 15px;
}


.banner {
  background-color: #EDECEA;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(0, 0, 0, 0.87);

  background-image: url("../../assets/img/banner-reg/banner-reg-360.jpg");
  height:380px;

  width: 100vw;

  margin-top: 60px;
}

.banner.webp {
  background-image: url("../../assets/img/banner-reg/banner-reg-360.webp");
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .banner {
    background-image: url("../../assets/img/banner-reg/banner-reg-360-2x.jpg");
  }

  .banner.webp {
    background-image: url("../../assets/img/banner-reg/banner-reg-360-2x.webp");
  }
}



@media (min-width: 361px){
  .banner {
    background-image: url("../../assets/img/banner-reg/banner-reg-768.jpg");

    //background-position-y: 80px;
    //background-position-x: -10px;
    //background-size: 178%;

  }

  .banner.webp {
    background-image: url("../../assets/img/banner-reg/banner-reg-768.webp");
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) and (min-resolution: 192dpi) and (min-width: 361px) {
  .banner {
    background-image: url("../../assets/img/banner-reg/banner-reg-768-2x.jpg");
  }

  .banner.webp {
    background-image: url("../../assets/img/banner-reg/banner-reg-768-2x.webp");
  }
}

@media (min-width: 576px) {
  .banner {
    height:500px;
  }

  .container {
    padding-right: 32px;
  }

  .bannerTitle {
    margin-block-start:0;
    text-align: right;
    width: 450px;

    font-family: $FONT-SECONDARY;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;

  }

  .bannerContent {
    align-items: flex-end;
    padding-top: 12px;
  }

  .bannerContentContainer {
    height: 489px;
  }

  .buttonContainer {
    padding-top: 12px;
  }


}


@media (min-width: 650px) {
  .bannerTextForDesktop {
    display: none;
  }

  .bannerTextForMobile {
    display: none;
  }

  .bannerTextForTablet {
    display: inline;

    font-family: Asap, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: right;

    width: 320px;
    padding-top: 12px;
    margin-bottom: 0;
  }
}

@media (min-width: 700px) {
  .bannerTextForTablet{
    width: 380px;
  }
}

@media (min-width: 730px) {
  .bannerTextForTablet{
    width: 411px;
  }
}

@media (min-width: 769px) {
  .bannerTextForDesktop {
    width: 475px;
  }

  .bannerTextForTablet{
    width: 385px;
  }

  .bannerContentContainer {
    height: 642px;
  }


  .banner {
    background-image: url("../../assets/img/banner-reg/banner-reg-1024.jpg");
    height:650px;
  }

  .banner.webp {
    background-image: url("../../assets/img/banner-reg/banner-reg-1024.webp");
  }

  //.bannerTitle {
  //    width: 557px;
  //}



  .buttonContainer {
    padding-top: 10px;
  }

  .bannerTextForDesktop {
    display: none;
  }

  .bannerTextForMobile {
    display: none;
  }

  .bannerTextForTablet {
    display: inline;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 769px) {
  .banner {
    background-image: url("../../assets/img/banner-reg/banner-reg-1024-2x.jpg");
  }

  .banner.webp {
    background-image: url("../../assets/img/banner-reg/banner-reg-1024-2x.webp");
  }
}

@media (min-width: 860px) {
  .bannerTextForTablet{
    width: 430px;
  }
}


@media (min-width: 925px) {
  .bannerTextForTablet{
    width: 500px;
  }
}


@media (min-width: 992px) {

  .bannerContent {
    align-items: flex-start;
    padding-right: 30px;
  }

  .bannerTitle {
    margin-block-start:0;
    text-align: left;
    width: 557px;
letter-spacing: -0.5px;
    font-family: $FONT-SECONDARY;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px;

    padding-top: 0px;
  }

  .bannerTextForDesktop {
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bannerTextForMobile {
    display: none;
  }

  .bannerTextForTablet {
    display: none;
  }
}

@media (min-width: 1023px) {
  .banner {
    background-image: url("../../assets/img/banner-reg/banner-reg-1424.jpg");
    max-width: 1424px;
    margin: 0 auto;
    background-position-x: -200px;
  }

  .banner.webp {
    background-image: url("../../assets/img/banner-reg/banner-reg-1424.webp");
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 1025px) {
  .banner {
    background-image: url("../../assets/img/banner-reg/banner-reg-1424-2x.jpg");
  }

  .banner.webp {
    background-image: url("../../assets/img/banner-reg/banner-reg-1424-2x.webp");
  }
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (                min-resolution: 192dpi) and (max-width: 320px),
only screen and (                min-resolution: 2dppx)  and (max-width: 320px) {

  /* Small screen, non-retina */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-360-2x.jpg');
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-360-2x.webp');
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 384px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 384px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 321px) and (max-width: 384px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 321px) and (max-width: 384px),
only screen and (                min-resolution: 192dpi) and (min-width: 321px) and (max-width: 384px),
only screen and (                min-resolution: 2dppx)  and (min-width: 321px) and (max-width: 384px) {

  /* Small screen, retina, stuff to override above media query */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-768-2x.jpg');
    //background-position: 64% 100%;
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-768-2x.webp');
    //background-position: 64% 100%;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 384px) and (max-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 384px) and (max-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 384px) and (max-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 384px) and (max-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 384px) and (max-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 384px) and (max-width: 768px) {

  /* Bigger small screen, retina, stuff to override above media query */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-768-2x.jpg');
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-768-2x.webp');
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 769px) and (max-width: 1024px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 769px) and (max-width: 1024px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 769px) and (max-width: 1024px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 769px) and (max-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 769px) and (max-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 769px) and (max-width: 1024px) {

  /* Medium screen, retina, stuff to override above media query */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1024-2x.jpg');
    //background-position: 4% 12%;
    //background-size: 129%;
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1024-2x.webp');
    //background-position: 4% 12%;
    //background-size: 129%;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1025px) and (max-width: 2048px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1025px) and (max-width: 2048px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1025px) and (max-width: 2048px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1025px) and (max-width: 2048px),
only screen and (                min-resolution: 192dpi) and (min-width: 1025px) and (max-width: 2048px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1025px) and (max-width: 2048px) {

  /* Medium screen, retina, stuff to override above media query */
  .SignUpBanner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1024-2x.jpg');
    //background-size: 130%;
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1024-2x.webp');
    //background-size: 130%;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 2048px) and (max-width: 2560px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 2048px) and (max-width: 2560px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 2048px) and (max-width: 2560px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 2048px) and (max-width: 2560px),
only screen and (                min-resolution: 192dpi) and (min-width: 2048px) and (max-width: 2560px),
only screen and (                min-resolution: 2dppx)  and (min-width: 2048px) and (max-width: 2560px) {

  /* Medium screen, retina, stuff to override above media query */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1424-2x.jpg');
    //background-size: 130%;
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1424-2x.webp');
    //background-size: 130%;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 2561px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 2561px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 2561px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 2561px),
only screen and (                min-resolution: 192dpi) and (min-width: 2561px),
only screen and (                min-resolution: 2dppx)  and (min-width: 2561px) {

  /* Large screen, retina, stuff to override above media query */
  .banner {
    background-size: cover;
  }

  :global(html.webp) .banner {
    background-size: cover;
  }
}

.banner {
  background-image: url('../../assets/img/banner-reg/banner-reg-360.jpg');
}

:global(html.webp) .banner {
  background-image: url('../../assets/img/banner-reg/banner-reg-360.webp');
}

@media only screen and (min-width: 321px) and (max-width: 768px) {

  /* Small screen, non-retina */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-768.jpg');
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-768.webp');
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /* Medium screen, non-retina */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1024.jpg');
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1024.webp');
  }
}

@media only screen and (min-width: 1025px) and (max-width: 2048px) {

  /* Medium screen, non-retina */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1024.jpg');
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1024.webp');
  }
}

@media only screen and (min-width: 2048px) and (max-width: 2560px) {

  /* Medium screen, non-retina */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1280-2x.jpg');
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1280-2x.webp');
  }
}

@media only screen and (min-width: 2561px) {

  /* Large screen, non-retina */
  .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1424-2x.jpg');
  }

  :global(html.webp) .banner {
    background-image: url('../../assets/img/banner-reg/banner-reg-1424-2x.webp');
  }
}
