@import '../../assets/scss/vars/constans.scss';

.about {
  background-color: #F8F8F8;
  height: 600px;
  &ContentContainer {
    display: flex;
    flex-direction: column;
    color:rgba(0, 0, 0, 0.87);
    margin: 0 auto;
    height: auto;
  }

  &Title {
    margin-block-start:0;
    text-align: left;
    font-family: $FONT-SECONDARY;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.2px;
    letter-spacing: 0em;
    padding-top: 8px;
    margin-bottom: 0;
  }

  &Subtitle {

    font-family: $FONT-MAIN;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;


  }

  &ButtonContainer {
    margin-top:36px;
  }

  &Logo {
    width: 100px;
    height: 100px;
  }
}

.aboutLogoContainer {
  max-width: 328px;
  margin:20px auto 0;
}

.slideDownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 16px;
}

.aboutText {
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0em;
  text-align: left;

}

@media (min-width: 576px) {
  .aboutTitle {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

  }

  .aboutSubtitle {
    font-family: $FONT-SECONDARY;
    font-size: 28px;
    line-height: 39px;


    position: relative;

  }
}


@media (min-width: 640px) {

  .aboutLeftColumn {
    width: 56%;
    padding-right:10px;
  }

  .aboutRightColumn {
    width: 44%;
    align-self: center;
  }


  .slideDownContainer {
    padding-top:36px;
    padding-bottom: 26px;
  }

  .aboutTitle {

    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
    padding-top: 0;
  }

  .aboutSubtitle {
    font-family: $FONT-SECONDARY;
    font-size: 28px;
    line-height: 39px;
    position: relative;

  }

  .aboutContentContainer {
    flex-direction: row;

  }
  .aboutLogoContainer {
    width: 100%;
    max-width: 387px;
    margin: 10px auto 0;
  }



  .aboutText {
    margin-top: 19px;
  }

}

.about {
  height: auto;
}

@media (min-width: 768px) {
  .aboutLeftColumn {
    padding-right:0;
  }
}

@media (min-width: 767px) {
  .about {
    height: auto;
  }
  .aboutSubtitle {
    font-family: $FONT-SECONDARY;
    font-size: 28px;
    line-height: 39px;

    margin-top: 0px;
    position: relative;
    //left: -1px;
    //letter-spacing: 0.3px;
  }
  .aboutSubtitle {
  }

  .aboutLogoContainer {
    width: 100%;
    max-width: 387px;
    margin:0 auto;
  }

  .aboutText {
    margin-top: 0px;
  }


}

@media (min-width: 992px) {


  .aboutTitle {
    text-align: left;

    font-size: 60px;
    line-height: 63px;
  }

  .aboutContentContainer {
    padding-top: 170px;
  }

  .slideDownContainer {
    display: none;
  }

  .aboutLeftColumn {
    width: 58%;
  }
  .aboutSubtitle {
    padding-top: 14px;
    margin-bottom: 0;
  }
  .aboutText {
    padding-top:20px;
  }


}

@media (min-width: 1350px) {


  .aboutTitle {
    text-align: left;

    font-size: 60px;
    line-height: 63px;
  }

  .aboutContentContainer {
    padding-top: 190px;
  }

  .slideDownContainer {
    display: none;
  }

  .aboutLeftColumn {
    width: 58%;
  }
  .aboutSubtitle {
    padding-top: 14px;
    margin-bottom: 0;
  }
  .aboutText {
    padding-top:20px;
  }


}

@media (min-width: 2450px) {
  .aboutContentContainer {
    padding-top: 170px;
    justify-content: space-between;
   padding-left: 30px;
  }

  .aboutLeftColumn {
    width: 684px;
  }

  .aboutTitle {
    margin-top: 17px;

  }

  .aboutLogoContainer {
    margin:10px auto 0;
    padding-left: 25px;
  }

  .aboutLeftColumn {
    width: 60%;
  }

  .aboutRightColumn {
    width: 34%;
  }
}

