
.right-menu-authorized {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Asap,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.right-menu-authorized a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);

  position: relative;
  z-index: 2;
  color:rgba(126, 126, 126, 1);
}

.right-menu a.selected {
  color: rgba(234, 89, 36, 1);
  cursor:default !important;
  pointer-events: none;
}

.lang-menu {
  display: flex;
  justify-content: space-between;

  width: 62px;
}







.authorized-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}



.user-logo-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right:23px;
}

.menu-user-name {
  font-family: Asap,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.menu-user-email{
  font-family: Asap,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(126, 126, 126, 1);
}

.authorized-menu {
  padding-left: 27px;
}

.user-logo {
  padding-right:14px;
}

.menu-user-exit {
  position: relative;
  top:2px;
}

a.menu-user-exit:after {
  content: "";
  display: block;
  border-radius: 4px;
  width: calc(100% + 15px);
  height: calc(100% + 7px);
  background: rgba(234, 89, 36, 0);
  position: absolute;
  z-index: -1;
  transform: translateY(-32px) translateX(-8px);
}

a.menu-user-exit:hover:after {
  background: rgba(234, 89, 36, 0.3);
}



.right-menu-authorized a.selected {
  color: rgba(234, 89, 36, 1);
  cursor:default !important;
  pointer-events: none;
}

