@import "../../constans/styles/variables";
//Input
.inputRoot {
  border-radius: 4px;
  color: $INPUT-TEXT-COLOR;
  font-family: $FONT-SECONDARY;
  font-size: 16px;
  height: 54px;
  width: 328px;
}

.inputRoot fieldset {
  border: 1px solid $INPUT-ENABLED-BORDER;
}
.inputFocused fieldset {
  border-color: $COLOR-SECONDARY !important;
}

//Input select
.selectInputRoot {
  border-radius: 4px;
  color: $INPUT-TEXT-COLOR;
  font-family: $FONT-SECONDARY;
  height: 54px;
  width: 328px;
}

.selectInputRoot fieldset {
  text-align: left;
}

.selectInputFocused fieldset {
  border-color: $COLOR-SECONDARY !important;
}

.selectInputRoot fieldset legend {
  display: none !important;
}

.selectInputError.inputFocused fieldset {
  border-color: $ERROR !important;
}

.selectInputRoot svg {
  right: 13px;
  top: calc(50%);
  width: 10px;
  height: 5px;
  fill: #7E7E7E !important;
;
}

.selectInputRoot path {
  fill: #7E7E7E !important;
;
}

.selectInputError fieldset {
  border-color: $ERROR !important;
}

.selectInputRoot:hover fieldset {
  border-color: $COLOR-BLACK87 !important;
}

.inputRoot:hover fieldset {
  border-color: $COLOR-BLACK87;
}

.inputError fieldset {
  border-color: $ERROR !important;
}

.inputError.inputFocused fieldset {
  border-color: $ERROR !important;
}

// LABEL
.labelRoot {
  color: $INPUT-LABEL-COLOR;
  font-size: 16px;
  line-height: 25.6px;
}

.labelFocused {
  color: $COLOR-SECONDARY !important;
}

.labelError {
  color: $ERROR !important;
}

.selectLabelRoot {
  color: $INPUT-LABEL-COLOR;
  font-size: 16px;
  line-height: 25.6px;
  margin-top: -4px;
}

.selectLabelFocused {
  opacity: 0;
  transform: none !important;
}

.selectLabelError {
  color: $ERROR !important;
}

.selectLabelShrink {
  opacity: 0 !important;
}

//Helper text
.helperRoot {
  color: $COLOR-BLACK87;
  font-family: $FONT-SECONDARY;
  font-size: 12px;
}

.helperError {
  color: $ERROR !important;
}

//Select

.selectRoot {
  background: #ffffff !important;
  font-family: $FONT-SECONDARY;
  margin-top: -6px;
  text-align: left;
}

.selectFocused {
  background: $COLOR-BACKGROUND;
}
