$COLOR-PRIMARY: #F4E041;
$COLOR-SECONDARY: #00BDD3;
$COLOR-TERTIARY: #EA5924;
$COLOR-BACKGROUND: #F8F8F8;

$primary: #F4E041;
$secondary: #00BDD3;
$tertiary: #EA5924;
$background: #F8F8F8;

$text: rgba(0,0,0,0.87);
$text2: #4c4b4b;
$darkest: #000;
$text-disabled: #8d8c8c;
$error: #CB3D40;

$storybook-border: #d0d0d0;

$button-disabled-background: #d7d7d7;

$tooltip-text: #fefefe;
$tooltip-background: #707070;

$input-enabled-border: #D0CFCF;
$input-filled-text: #010000;
$input-shadow: rgba(1, 1, 1, 0.24);

$loader: #e2e2e2;

//
$secondary-transparent: rgba(40, 53, 147, 0.5);
$secondary-lighter: #2638bb;
$primary-transparent: rgba(239, 108, 0, 0.2);
$primary-lighter: #fc831f;
$primary-lighter-transparent: rgba(252, 131, 31, 0.2);
$background-transparent: rgba(255, 255, 255, 0.5);
