@use '../../assets/scss/vars/colors';
@use '../../assets/scss/mixins/media';
@import '../../assets/scss/vars/constans.scss';

.Relationships {
  padding: 145px 0px 70px;
  background-color: #F8F8F8;
}

.heading {
  max-width: 650px;
  margin: 0px auto 49px;
  text-align: center;
  font-size: 60px;
  line-height: 63px;
  padding-top: 12px;
}

.container {
  margin: 0px 3px 0px 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.techWrapper {
  max-width: 288px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.HTMLImg {
  width: 204px;
  height: 161px;
  margin-bottom: 19px;
}

.CSSImg {
  width: 204px;
  height: 161px;
  margin-bottom: 19px;
}

.JSImg {
  width: 204px;
  height: 161px;
  margin-bottom: 16px;
}

.subheading {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -1px;
}

.text {
  margin: 0px;

  color: colors.$text2;
}

.text1 {
  max-width: 282px;
  margin-top: 10px;
  margin-left: 2px;
}

.text2 {
  max-width: 282px;
  margin-top: 10px;
  margin-left: 2px;
}

.text3 {
  max-width: 282px;
  margin-top: 10px;
  margin-left: 2px;
}


.link {
  margin-left: -3px;
}

@include media.for-desktop-up {
  .Relationships {
    padding: 131px 0px 135px;
  }

  .container {
    margin: 0px 10px 0px 0px;
  }

  .heading {
    margin: 0px auto 49px;
  }

  .techWrapper {
    max-width: 350px;
  }

  .subheading {
    margin-left: 0px;
  }

  .text1 {
    max-width: 345px;
    margin-left: 0px;
  }

  .text2 {
    max-width: 306px;
    margin-left: 0px;
  }

  .text3 {
    max-width: 355px;
    margin-right: -2px;
  }
}

@media screen and (max-width: 990px) {
  .Relationships {
    padding: 90px 0px 85px;
  }

  .heading {
    margin: 0px auto 43px;
    font-size: 38px;
    line-height: 39.9px;
    padding-top: 28px;
    max-width: 450px;
  }

  .container {
    margin-left: -4px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .techWrapper {
    max-width: 587px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .techWrapper:last-child {
    margin-top: -25px;
  }

  .HTMLImg {
    max-width: 146px;
    min-width: 88px;
    height: 161px;
    margin: 0px;
    top: 5px;
    position: relative;
  }

  .CSSImg {
    margin: 0px;
    max-width: 146px;
    min-width: 88px;
    height: 161px;
    top: 6px;
    position: relative;
  }

  .JSImg {
    margin: 0px;
    max-width: 146px;
    min-width: 90px;
    height: 161px;
    top: 6px;
    position: relative;
  }

  .textWrapper {
    margin-left: 0;
  }

  .subheading {
    max-width: initial;
  }

  .text1 {
    max-width: 463px;
    margin-top: 7px;
    margin-left: 1px;
  }

  .text2 {
    max-width: 418px;
    margin-top: 8px;
    margin-left: 0px;
  }

  .text3 {
    max-width: 461px;
    margin-top: 8px;
    margin-left: -1px;
  }
}

@include media.for-phone-only {
  .Relationships {
    padding: 55px 0px 55px;
  }

  .heading {
    margin: 0px auto 24px;
    font-size: 28px;
    line-height: 39.2px;
    padding-top: 36px;
  }

  .container {
    margin: 0px;
  }

  .techWrapper {
    margin-top: 28px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .techWrapper:first-child {
    top: -1px;
    position: relative;
  }

  .techWrapper:last-child {
    margin-top: 28px;
  }

  .HTMLImg {
    top: 0px;
    position: static;
  }

  .CSSImg {
    top: 0px;
    position: static;
  }

  .JSImg {
    margin-bottom: 3px;
    top: 0px;
    position: static;
  }

  .textWrapper {
    margin: 10px auto 0px;
  }

  .subheading {
    text-align: left;
  }

  .text {
    text-align: left;
  }

  .text1 {
    margin-top: 4px;
    margin-left: 0px;
  }

  .text2 {
    margin-top: 4px;
  }

  .text3 {
    margin-top: 4px;
    padding: 0px 6px;
  }
}



//mybonesintothesea



.webdevTitle {
  font-family: $FONT-SECONDARY;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;

  margin-top: 84px;
  margin-bottom: 29px;

  color: rgba(0, 0, 0, 0.87);

}

.webdevSubtitle {
  font-family: $FONT-SECONDARY;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;

}

.webdevTechContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.webdevLogoContainer {
  max-width: 204px;
  position: relative;
  margin: 0 auto;
}

.third {
  bottom: 1px;
}

.webdevText {
  margin-top: 10px;
  word-wrap: normal;
  font-family: $FONT-MAIN;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;

  color: rgba(0, 0, 0, 0.87);

}

.webdevSubtitle {
  margin-top: 36px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.87);
}

.webdevColumn {
  margin-bottom: 30px;
  text-align: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}


@media (min-width: 576px) {
  .webdevTitle {
    font-size: 38px;
    line-height: 40px;
    max-width: 450px;
    margin: 135px auto 52px;

    letter-spacing: -0.3px;
  }
  .webdevColumn {
  text-align: center;
  }
}

@media (min-width: 768px) {
  .webdevColumn {
    width: calc(32% - 16px);
    margin-top: 0;
    margin-bottom: 27px;
  }

  .webdevTechContainer {
    flex-direction: row;
    margin-top: 52px;
  }

  .webdevLogoContainer {
    max-width: 146px;
    padding-bottom: 10px;
  }
  .webdevText {
    max-width: 250px;
  }
  .webdevSubtitle {
    margin-top: 24px;
  }
}

@media (min-width: 992px) {
  .webdevColumn {
    width: 281px;
    margin-top: 0;
    margin-bottom: 27px;
  }

  .webdevTechContainer {
    flex-direction: row;
    margin-top: 48px;
  }

  .webdevLogoContainer {
    margin: 0 auto;
    max-width: 204px;
  }

  .webdevTitle {
    font-size: 60px;
    line-height: 63px;
    max-width: 700px;
    margin: 172px auto 0;
    letter-spacing: -0.3px;

  }

  .webdevSubtitle {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .first {
    right: 8px;
  }

  .second {
    right: 10px;
  }

  .third {
    right: 10px;
    bottom: 0;
  }
}


@media (min-width: 2560px) {
  .webdevColumn {
    width: 360px;
    margin-top: 0px;
  }

  .webdevTechContainer {
    flex-direction: row;
    margin-top: 46px;
  }

  .webdevLogoContainer {
    margin: 0 auto;

  }

  .webdevTitle {
    margin: 169px auto 0;
  }

  .first {
    right: 0;
  }

  .second {
    right: 0;
  }

  .third {
    right: 0;

  }
}

