@use '../../assets/scss/vars/colors';
@use '../../assets/scss/mixins/media';

.Banner {
  margin: 64px 0px 0px;
  height: 650px;
  padding-top: 128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

@media (max-height: 750px) and (max-width: 1440px) and (min-width: 769px) {
  .Banner {
    padding-bottom: 50px;
    height: 500px;
  }
}

.Banner {
  background-image: url('../../assets/img/banner/banner-background-1024.jpg');
}

:global(html.webp) .Banner {
  background-image: url('../../assets/img/banner/banner-background-1024.webp');
}

@media only screen and (min-width: 321px) and (max-width: 768px) {

  /* Small screen, non-retina */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-360.jpg');
    height: auto;
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-360.webp');
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and (max-width: 512px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and (max-width: 512px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and (max-width: 512px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and (max-width: 512px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px) and (max-width: 512px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and (max-width: 512px) {

  /* Small screen, retina, stuff to override above media query */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-360-2x.jpg');
    background-position: 35% 100%;
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-360-2x.webp');
    background-position: 35% 100%;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 513px) and (max-width: 720px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 513px) and (max-width: 720px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 513px) and (max-width: 720px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 513px) and (max-width: 720px),
only screen and (                min-resolution: 192dpi) and (min-width: 513px) and (max-width: 720px),
only screen and (                min-resolution: 2dppx)  and (min-width: 513px) and (max-width: 720px) {

  /* Bigger small screen, retina, stuff to override above media query */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-575-2x.jpg');
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-575-2x.webp');
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /* Medium screen, non-retina */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-768.jpg');
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-768.webp');
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

  /* Medium screen, non-retina */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-1024.jpg');
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-1024.webp');
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 721px) and (max-width: 960px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 721px) and (max-width: 960px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 721px) and (max-width: 960px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 721px) and (max-width: 960px),
only screen and (                min-resolution: 192dpi) and (min-width: 721px) and (max-width: 960px),
only screen and (                min-resolution: 2dppx)  and (min-width: 721px) and (max-width: 960px) {

  /* Medium screen, retina, stuff to override above media query */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-768.jpg');
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-768.webp');
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 961px) and (max-width: 1280px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 961px) and (max-width: 1280px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 961px) and (max-width: 1280px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 961px) and (max-width: 1280px),
only screen and (                min-resolution: 192dpi) and (min-width: 961px) and (max-width: 1280px),
only screen and (                min-resolution: 2dppx)  and (min-width: 961px) and (max-width: 1280px) {

  /* Medium screen, retina, stuff to override above media query */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-1024-2x.jpg');
    background-size: 100%;
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-1024-2x.webp');
    background-size: 100%;
  }
}

@media only screen and (min-width: 1441px) {

  /* Large screen, non-retina */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-1392.jpg');
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-1392.webp');
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1281px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1281px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1281px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1281px),
only screen and (                min-resolution: 192dpi) and (min-width: 1281px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1281px) {

  /* Large screen, retina, stuff to override above media query */
  .Banner {
    background-image: url('../../assets/img/banner/banner-background-1392-2x.jpg');
    background-position: 100% 30%;
  }

  :global(html.webp) .Banner {
    background-image: url('../../assets/img/banner/banner-background-1392-2x.webp');
    background-position: 100% 30%;
  }
}

.container {
  max-width: 570px;
}

.h1.h1 {
  margin: 0px 0px 24px -5px;

  color: colors.$text;
}

.text.text {
  color: colors.$text;
}

.text.desktop {
  margin: 0px 0px 39px -2px;
}

.text.textWide1 {
  display: none;
  max-width: 460px;
  margin: 0px 0px 0px -2px;
}

.text.textWide2 {
  display: none;
  max-width: 600px;
  margin: 0px 0px 33px -2px;
}

.text.mobile {
  display: none;
  max-width: 280px;
  margin: 0px 0px 38px;

  text-align: left;
  font-size: 16px;
  line-height: 22px;
}

.btn {
  position: relative;
  left: -3px;
}

@include media.for-desktop-up {
  .Banner {
    padding-bottom: 141px;
  }

  .container {
    max-width: 560px;
  }

  .text.desktop {
    display: block;
  }

  .text.textWide1 {
    display: block;
  }

  .text.textWide2 {
    display: block;
  }
}

@include media.for-tablet-portrait-down {
  .Banner {
    padding-top: 109px;
    padding-bottom: 120px;
  }

  .h1.h1 {
    margin: 0px 0px 23px -3px;
    letter-spacing: 0.1px;
  }

  .text.desktop {
    max-width: 410px;
    margin: 0px 0px 33px 0px;
    letter-spacing: 0px;
    line-height: 24px;
  }

  .btn {
    left: -1px;
  }
}

@include media.for-phone-only {
  .Banner {
    padding-top: 64px;
    padding-bottom: 70px;
  }

  .h1.h1 {
    margin: 0px 0px 13px 0px;
    width: 285px;
    text-align: left;
    line-height: 34px;
  }

  .text.desktop {
    display: none;
  }

  .text.mobile {
    display: block;
  }

  .btn {
    max-width: 289px;
    min-width: 289px;
    left: 0px;
  }
}
